BOT_TOKEN=12597429:a7Kp9mQ2x_L8vT3rZ5dN1-8vT3rZ

SEED_PHRASE="river apple desk moon forest bottle chair tiger lamp cloud bridge stone"

SUBSCRIPTION_PRICE=40 #USDT

gen_addr_index=5

free_aats_quantty=1

chkTrsf_attempts_perDay=8